.container {

  .title {
    font-size: 33px;
    font-weight: 800;
    text-align: center;

    padding: 44px;
  }

  .listBox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    margin-bottom: 30px;
  }
}